@model Student

@{
//    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}
<a href="/Student/GetStudentUsingViewModel/@Model.Id" class="btn btn-success" >VM Using Pure HTML</a>
<br/>
@Html.ActionLink("VM Using HTML Helper","GetStudentUsingViewModel","Student"
,new{id=Model.Id,address="assiut"},new{@class="btn btn-success"})
<br />
<a asp-action="GetStudentUsingViewModel" asp-controller="Student"
   asp-route-id="@Model.Id" asp-route-Salary="Assiut" 
   asp-fragment="Section1"
   class="btn btn-success" >VM Using Tag Help</a>



<h1>Edit</h1>
<form method="post" action="/Student/SaveEdit/@Model.Id">
     <div>
       @* @Html.LabelFor(s=>s.Name)*@
       <label asp-for="Name"></label>
        @*<input type="text" name="Name" id="Name" value="@Model.Name" class="form-control" />
        @Html.TextBox("Name",null,new{style="color:red",@class="form-control"})
        @Html.TextBoxFor(s=>s.Name,new{style="color:red",@class="form-control"})*@
       @* @Html.EditorFor(s=>s.Name)*@
       <input asp-for="Name" class="form-control" />
       
    </div>
  <div>
        <label>Address</label>
        <input type="text" name="Address" id="Address" value="@Model.Address" class="form-control" />
    </div>
  <div>
        <label>Age</label>
        @*<input type="number" name="Age" id="Age" value="@Model.Age" class="form-control" />*@
        @Html.EditorFor(s=>s.Age,new{ htmlAttributes=new{@class="form-control"}})
    </div>
    <div>
        <label>Image</label>
        <input type="text" name="Image" id="Image" value="@Model.Image" class="form-control" />
    </div>
    <div>
        <label>DEpartment</label>
        @*<input type="number" name="Dept_Id" id="Dept_Id" value="@Model.Dept_Id" class="form-control" />*@
        <select name="Dept_Id" id="Dept_Id" class="form-control">
            @foreach (Department deptItem in ViewBag.DeptList)
            {
                if (Model.Dept_Id == deptItem.Id)
                {
                    <option value="@deptItem.Id" selected>@deptItem.Name</option>
                }else{
                    <option value="@deptItem.Id" >@deptItem.Name</option>
                }
            }
        </select>
    </div>
    
    <input type="submit" class="btn btn-primary" value="Save" />
</form>
